<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <div class="progress m-t-20" >
              <div class="progress-bar bg-primary progress-bar-striped active"
              style="height:10px;"
              [style.width]="getPercentage1"
              >
              </div>
              </div>

              <div class="progress m-t-20" >
                <div class="progress-bar bg-info progress-bar-striped active"
                style="height:10px;"
                [style.width]="getPercentage2"
                >
                </div>
                </div>


          </div>
      </div>
  </div>
</div>

<app-incrementador (outputValue)="progress1=$event"
[progress]="progress1"
></app-incrementador>

<app-incrementador (outputValue)="progress2 = $event"
[progress]="progress2"></app-incrementador>
